.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}
.container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 40px;
}
