/* inputフォーム */
.table {
  margin-bottom: 20px;
}

.table dt {
  margin-bottom: 10px;
}

.table input {
  width: 100%;
  height: 40px;
  border: 1px solid #888383;
  padding-left: 5px;
  font-size: 1rem;
}

/* 注意書き */
.attention {
  font-size: 0.7rem;
  margin-top: 10px;
  color: #888383;
}

/* エラー */
.error {
  color: red;
  font-size: 0.8rem;
  margin-left: 10px;
}
