.infoContent {
  display: flex;
  justify-content: left;
  align-items: center;
}
.infoContent dt {
  width: 150px;
}
.infoContent dd {
  width: calc(100% - 150px);
}
.selectQuantity {
  width: 45px;
  height: 30px;
  text-align: center;
  margin-right: 30px;
}
