.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}

.editButton {
  max-width: 60%;
}

.deleteButton {
  max-width: 60%;
}

.white {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  border: 2px solid #000000;
  cursor: pointer;
  font-size: 1.2rem;
}

.white:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 1.2rem;
}
