.container {
  margin-bottom: 80px;
}
.contentTitle {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
  margin: 30px auto;
}
.gridItems {
  max-width: 1120px;
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 15px;
}
