.login {
  margin: 3% 0;
  width: 50%;
  height: 400px;
  border-right: 1px solid black;
}

.login h2 {
  margin-bottom: 30px;
  padding-left: 7%;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.btn {
  text-align: center;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #000000;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.error {
  text-align: center;
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
