.modalContent {
  flex-direction: column;
  margin: 10px 20px;
  padding-bottom: 40px;
}

.modalContent h3 {
  margin-bottom: 10px;
}

.searchConditions {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
}
