.headerContainer {
  display: flex;
  justify-content: center; /* 真ん中基準 */
  align-items: center;
  gap: 5rem; /* 3等分の間隔を作る */
  padding: 0 2.5rem;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center; /* 中央配置 */
  align-items: center;
}

.title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
}

.navigationContainer {
  flex: 1;
  display: flex;
  justify-content: center; /* 中央配置 */
  align-items: center;
  gap: 1.5rem;
}

.mypage,
.login {
  font-size: 1.5rem;
  text-decoration: none;
}

.navigationContainer > button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
