.parentContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nowLink {
  background-color: #e1dada;
  color: #000000;
  padding: 5px;
  border: 2px solid #e1dada;
  cursor: pointer;
}
