.container {
  display: flex;
  flex-direction: column;
  margin: 3.0rem 0rem 8.0rem 10.0rem;
}

.conditionGroup {
  display: flex;
  font-size: 1.8rem;
}

.conditionName {
  border: 1px solid #FFFFFF;
  background-color: #D9D9D9;
  padding: 1.0rem 5.0rem ;
}

.registerCondition {
  border: 1px solid #FFFFFF;
  background-color: #D9D9D9;
  padding: 1.0rem 14.0rem ;
}

.conditionControl {
  border: 1px solid #FFFFFF;
  background-color: #D9D9D9;
  padding: 1.0rem 5.0rem ;
}
