.container {
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.conditionTitle {
  font-size: 1.7rem;
}

.conditionName {
  border: 1px solid #ffffff;
  background-color: #d9d9d9;
  padding: 1.0rem 5.0rem;
}

.registerCondition {
  border: 1px solid #ffffff;
  background-color: #d9d9d9;
  padding: 1.0rem 14.0rem;
}

.conditionControl {
  border: 1px solid #ffffff;
  background-color: #d9d9d9;
  padding: 1.0rem 5.0rem;
}
