.conditionName {
  margin-top: 10px;
}

.title {
  margin-bottom: 10px;
}

.conditionNameInput {
  align-items: center;
  padding: 5px;
  margin-left: 40px;
  margin-bottom: 20px;
  width: 80%;
}

.errorMessage {
  color: red;
}
